.footer__heading {
  .list-reset;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;

  text-align: center;
}

.footer__nav-list {
  .list-reset;
  list-style: none;

  display: flex;
  justify-content: space-between;

  .outline(orange);
  margin: 0 auto;

  width: 1200px;
}

.footer__nav-item {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}
