.main-news {
  min-height: 460px;

  background: url("../../img/bg__hotel.jpg");
  background-repeat: no-repeat;
  background-size: auto auto;
}

.main-news__heading {
  .list-reset;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;

  padding-top: 132px;
  margin-bottom: 132px;
}

.main-news__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  /* or 150% */

  text-align: center;

  color: #ffffff;

  margin: 0 auto;


  text-align: center;
  width: 460px;
}



