.main-news {
  margin: 0 auto;

  background: url("../img/bg__hotel.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  min-width: 1440px;
}

.main-news__description::before {
  position: absolute;
  content: "";
  width: 55px;
  height: 55px;
  left: 202px;
  top: -303px;

  background: url("../img/icon-hotel.svg");
}

.main-news__heading {
  .list-reset;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;

  padding-top: 132px;
  margin-bottom: 132px;
}

.main-news__description {
  position: relative;
  font-size: 14px;
  line-height: 23px;

  text-align: center;

  color: #ffffff;

  margin: 0 auto;
  padding-bottom: 47px;

  width: 460px;
}
