.main-nav__list {
}

.main-nav__list {
  display: flex;
  justify-content: space-between;

  .list-reset;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  list-style: none;
  text-transform: uppercase;

  width: 1170px;
  margin: 0 auto;

  margin-top: 45px;
  margin-bottom: 48px;
}
