.page-header {
  .list-reset;
  .outline;
  width: 1440px;

  margin: 0 auto;

  min-height: 219px;
}

.page-header__heading {
  .list-reset;

  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 47px;

  .outline(yellow);

  min-height: 110px;
}
