.reviews {
  margin-top: 46px;
  margin-bottom: 53px;
  .outline(tomato);

}

.reviews__heading {
  .list-reset;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;

  text-align: center;

}

.reviews__title {
  .list-reset;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;

  padding-top: 15px;
}

.reviews__text {
  display: inline-block;
  .list-reset;
  font-size: 14px;
  line-height: 150%;
  width: 358px;

  padding-top: 8px;
}

.reviews__list {
  .list-reset;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;

  padding-top: 20px;
  padding-left: 18px;
  padding-right: 15px;
}

.reviews__item {
  .list-reset;
}
