.tickets {
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;

  text-align: center;

  background-color: #f7f7f7;
  z-index: -2;

  width: 100%;
  min-width: 1440px;
}

.tickets__heading {
  position: relative;
  .list-reset;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;

  padding-top: 35px;
  padding-bottom: 16px;
}

.tickets__wrapper {
  position: relative;
  width: 1440px;
  margin: 0 auto;
}

.tickets__wrapper::before {
  position: absolute;
  display: block;
  content: "";

  top: -70px;
  left: 365px;


  width: 707px;
  height: 707px;
  background-color: white;
  border-radius: 500px;
}

.tickets__title {
  .list-reset;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  padding-bottom: 9px;
}

.tickets__text {
  .list-reset;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.tickets__list {
  .list-reset;
  list-style: none;
  width: 400px;
  margin: 0 auto;
}

.tickets__button {
  display: inline-block;

  position: relative;

  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;

  padding-left: 29px;
  padding-top: 17px;

  margin-top: 20px;
  margin-bottom: 35px;

  background-color: #ff7931;
  color: #ffffff;

  width: 170px;
  height: 47px;
}

.tickets__button::before {
  position: absolute;
  top: 11px;
  right: -15px;
  content: "";
  width: 68px;
  height: 68px;

  background: url("../../img/icon-arrow.svg") 0 0 no-repeat;
}

.tickets__item {
  position: relative;
  margin-bottom: 27px;
}

.tickets__item::before {
  position: absolute;
  left: 150px;

  bottom: -23px;
  content: "";
  height: 1px;
  width: 100px;
  background: rgba(0, 0, 0, 0.2);
}

.tickets__item:nth-of-type(2),
.tickets__item:nth-of-type(3) {
  padding-left: 20px;
  padding-right: 20px;
}

.tickets__item:nth-of-type(3)::before {
  display: none;
}
